.idea
.idea/*
.build
venv
hyperdepth/build
hyperdepth/hyperdepth.cpp
hyperdepth/hyperdepth.cpython*
torchext/build
torchext/ext_cpu*
torchext/ext_cuda*
data/lcn/build
data/lcn/lcn.cpython-38*
renderer/cyrender.cpp
renderer/__pycache__*
co/__pycache__*
data/__pycache*
renderer/build
**.o
**.so
